h3 {
  text-align: right !important;
}
.formInput {
  width: 100px !important;
}
.radio {
  display: inline-block !important;
  margin-right: 10px;
  margin-left: 0px;
  font-size: larger;
}

#radioCol {
  text-align: left !important;
}
.anket {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
}
#input {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
p {
  text-align: center;
}
#h2Hasta {
  margin-bottom: 50px !important;
}
#btnOlustur {
  margin-top: 30px;
}
